<html>

<head>
    <meta charset="utf-8">
    <title>Kidibus</title>
    <link rel="stylesheet" href="../ressources/css/style.css">
</head>

<header>
    <ul class="horizontal">
        <li>
            <a class="imageItem" href="../index.html">
                <img src="../ressources/img/kidibuslogo.png" />
            </a>
        </li>
        <li><a class="listItemRight" href="../templates/contact.html">Nous contacter</a></li>
        <li><a class="listItemRight" href="../templates/partenaires.html">Partenaires</a></li>
        <li><a class="listItemRight" href="../templates/localisation.html">Localiser</a></li>
        <li><a class="listItemRight" href="../templates/reservation.html">Réserver un trajet</a></li>
    </ul>
</header>

<body>
    <h1>
        <img class="runningBus" src="../ressources/img/runningBus.gif" />
        <h2 class="titreImageAccueil">Votre enfant est pris en charge !</h2>
    </h1>
</body>

</html>