<html>

<head>
    <meta charset="utf-8">
    <title>Kidibus</title>
    <link rel="stylesheet" href="../ressources/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>

<header>
    <ul class="horizontal">
        <li>
            <a class="imageItem" href="../index.html">
                <img src="../ressources/img/kidibuslogo.png" />
            </a>
        </li>
        <li><a class="listItemRight" href="../templates/contact.html">Nous contacter</a></li>
        <li><a class="listItemRight" href="../templates/partenaires.html">Partenaires</a></li>
        <li><a class="listItemRight" href="../templates/localisation.html">Localiser</a></li>
        <li><a class="listItemRight" href="../templates/reservation.html">Réserver un trajet</a></li>
    </ul>
</header>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="../ressources/img/envibus.png" class="imageEnvibus"/>
                <h5>Envibus</h5>
                <span>Les bus d'Antibes</span>
            </div>
            <div class="col-sm">
                <img src="../ressources/img/zou.jpg" class="imageZou" />
                <h5>Zou</h5>
                <span>Les bus de Nice & Saint-Laurent du Var</span>
            </div>
            <div class="col-sm">
                <img src="../ressources/img/mairie_antibes.jpg" class="imageMairie" />
                <h5>Mairie d'Antibes</h5>
                <span>Associé</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img src="../ressources/img/amadeus.png" class="imageAmadeus" />
                <h5>Amadeus</h5>
                <span>Entreprise</span>
            </div>
            <div class="col-sm">
                <img src="../ressources/img/ecole.jpeg" class="imageEcole" />
                <h5>Centre International d'Antibes</h5>
                <span>Institut français</span>
            </div>
            <div class="col-sm">
                <img src="../ressources/img/Marineland.png" class="imageMarineland" />
                <h5>Marineland</h5>
                <span>Zoo aquatique</span>
            </div>
        </div>
    </div>
</body>
</html>